<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Course Selection Page">
    <title>Course Selection</title>

    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/ChooseCoursePage.css">
</head>
<body>
<nav>
    <div class="BGULogo">
        <a href="https://www.bgu.ac.il/">
            <img src="../imgs/logo_Desktop.png" alt="BGU Logo"/>
        </a>
    </div>
    <div class="user-controls">
        <img src="../imgs/Student Profile.jpg" alt="User Profile">
        <button class="signout-btn">Sign Out</button>
    </div>
</nav>
<div class="outercontainer">
    <div class="content">
        <h1>Hello 'private name', What will we learn today?</h1>
        <label class="select-label">Select a course</label>
        <select class="course-select">
            <option value="בחר קורס"> בחירת קורס</option>
            <option value="קורס ניתוח ועיצוב מערכות מידע">קורס ניתוח ועיצוב מערכות מידע</option>
            <option value="בסיסי נתונים">בסיסי נתונים</option>
            <option value="אמידה">אמידה</option>
            <option value="קבלת החלטות">קבלת החלטות</option>
            <option value="יסודות מערכות מידע">יסודות מערכות מידע</option>
        </select>
        <button class="btn">Select</button>
    </div>
</div>
<footer class="disclaimer">
    Bengoo is based on ChatGPT API, this is a prototype for final project in BGU University.
    <a href="https://www.linkedin.com/in/ron-zeevi/" rel="noreferrer" target="_blank">Contact us</a>
</footer>

<script src="../js/ChooseCoursePage.js"></script>
</body>
</html>
