<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Login Page">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/LoginPage.css">
</head>
<body>
<div class="outercontainer">
    <div class="whitecontainer">
        <div class="CamelAvater"><img src="../imgs/Camel%20avater%202%20study%20position.jpg"/></div>
        <div class="uppercontainer">
            <div class="BGUlogo"><img src="../imgs/BENGOO.png"/></div>
            <h1 class="login-title">Login</h1>
        </div>
        <div class="innercontainer">
            <form class="FormDesign" action="#" method="get">
                <h1 class="username-title">username</h1>
                <input class="input-field" name="username" type="text">

                <div class="password-field-container">
                    <h1 class="password-title">password</h1>
                    <input class="input-field" type="password" name="password">
                    <button type="button" class="passvisibility"><img src="../imgs/hide.png"/></button>
                </div>
            </form>
            <button class="btn" onclick="">Login</button>
            <a href="" class="hyperlink" target="_blank">Forgot password?</a>
        </div>
    </div>
</div>
<footer class="disclaimer">
    Bengoo is based on ChatGPT API, this is a prototype for final project in BGU University.
    <a href="https://www.linkedin.com/in/ron-zeevi/" rel="noreferrer" target="_blank">Contact us</a>
</footer>
<script src="../js/LoginPage.js"></script>
</body>
</html>
