<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Create Account Page">
    <title>Sign-Up</title>

    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/SignUpPage.css">
</head>
<body>
<div class="outercontainer">
    <div class="whitecontainer">
        <div class="CamelAvater"><img src="../imgs/Camel%20avater%202%20different%20position.jpg"/></div>
        <div class="uppercontainer">
            <h1 class="signup-title">Sign Up</h1>
        </div>
        <div class="innercontainer">
            <form class="FormDesign" action="#" method="get">
                <h1 class="field-title">full name</h1>
                <input class="input-field" name="fullname" type="text" required>

                <h1 class="field-title">email</h1>
                <input class="input-field" name="email" type="email" required>

                <h1 class="field-title">username</h1>
                <input class="input-field" name="username" type="text" required>

                <h1 class="field-title">password</h1>
                <input class="input-field" name="password" type="password" required>
                <button type="button" class="passvisibility"><img src="../imgs/hide.png"/></button>
                <div class="role"> Role:****</div>

                <button class="btn" onclick="">Sign Up</button>
            </form>
            <a href="" class="hyperlink">Already have an account? Login</a>
        </div>
    </div>
</div>
<footer class="disclaimer">
    Bengoo is based on ChatGPT API, this is a prototype for final project in BGU University.
    <a href="https://www.linkedin.com/in/ron-zeevi/" rel="noreferrer" target="_blank">Contact us</a>
</footer>

<script src="../js/SignUpPage.js"></script>
</body>
</html>




