<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Welcome Page">
    <title>BENGOO</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/WelcomePage.css">
</head>
<body>
<div class="outercontainer">
    <div class="whitecontainer">
        <div class="BGULogo"><a href="https://www.bgu.ac.il/"> <img src="../imgs/logo_Desktop.png"/> </a></div>
        <div class="welcome-text">
            <h1>Welcome to BENGOO</h1>
        </div>
        <div class="welcome-side-text">
            <h3> Your Academic Chatbot!</h3>
        </div>
        <div class="role-selection">
            <div class="role-option student">
                <div class="role-icon">👨‍🎓</div>
                <h1>Student</h1>
            </div>
            <div class="role-option lecturer">
                <div class="role-icon">👨‍🏫</div>
                <h1>Lecturer</h1>
            </div>
        </div>
        <div class="buttons">
            <button class="login-btn">Login</button>
            <button class="signup-btn">Sign Up</button>
        </div>
    </div>
</div>
<footer class="disclaimer">
    Bengoo is based on ChatGPT API, this is a prototype for final project in BGU University.
    <a href="https://www.linkedin.com/in/ron-zeevi/" rel="noreferrer" target="_blank">Contact us</a>
</footer>
</body>
<script src="../js/WelcomePage.js"></script>
</html>